<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.abhi.bank.Project01</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>EmployeeLogin</description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.abhi.bank.servlet.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoustmerLogin</display-name>
    <servlet-name>CoustmerLogin</servlet-name>
    <servlet-class>com.abhi.bank.servlet.CoustmerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoustmerLogin</servlet-name>
    <url-pattern>/CoustmerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewApplication</display-name>
    <servlet-name>NewApplication</servlet-name>
    <servlet-class>com.abhi.bank.servlet.NewApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewApplication</servlet-name>
    <url-pattern>/NewApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Details</display-name>
    <servlet-name>Details</servlet-name>
    <servlet-class>com.abhi.bank.servlet.Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCoustmer</display-name>
    <servlet-name>ViewCoustmer</servlet-name>
    <servlet-class>com.abhi.bank.servlet.ViewCoustmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCoustmer</servlet-name>
    <url-pattern>/ViewCoustmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdrawal</display-name>
    <servlet-name>Withdrawal</servlet-name>
    <servlet-class>com.abhi.bank.servlet.Withdrawal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdrawal</servlet-name>
    <url-pattern>/Withdrawal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.abhi.bank.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Diposite1</display-name>
    <servlet-name>Diposite1</servlet-name>
    <servlet-class>com.abhi.bank.servlet.Diposite1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Diposite1</servlet-name>
    <url-pattern>/Diposite1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer1</display-name>
    <servlet-name>Transfer1</servlet-name>
    <servlet-class>com.abhi.bank.servlet.Transfer1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer1</servlet-name>
    <url-pattern>/Transfer1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.abhi.bank.servlet.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployee</display-name>
    <servlet-name>ViewEmployee</servlet-name>
    <servlet-class>com.abhi.bank.servlet.ViewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployee</servlet-name>
    <url-pattern>/ViewEmployee</url-pattern>
  </servlet-mapping>
</web-app>